nowrap {
    white-space: nowrap;
}
#div_top_hypers {
    background-color:#eeeeee;
    display:inline;      
}
#ul_top_hypers li{
    display: inline;
}
div.c {
    text-align: justify;
  } 